---
import SendIcon from '@icons/Send.astro';
import PhoneIcon from '@icons/Phone.astro';
import MailIcon from '@icons/Mail.astro';
import WatchIcon from '@icons/Watch.astro';
import Container from './Container.astro';
import UserForm from '@icons/UserForm.astro';
import MailForm from '@icons/MailForm.astro';
import PhoneForm from '@icons/PhoneForm.astro';
import MessageForm from '@icons/MessageForm.astro';
---

<section id="contacto" class="bg-fondo-1">
  <Container>
    <div
      class="py-16 px-6 grid grid-cols-1 md:grid-cols-2 gap-16 md:gap-8 md:p-20 lg:px-5 xl:py-40 lg:gap-20"
    >
      <div class="bg-white p-6 md:px-6 rounded-3xl shadow-2xl order-2 md:order-none">
        <h2 class="font-semibold text-xl font-quicksand text-center mb-8 md:text-2xl">
          ¡Ponte en contacto con nosotros!
        </h2>

        <form class="flex flex-col gap-8">
          <div class="relative">
            <input
              class="peer border font-quicksand border-gray-950/50 w-full py-2 px-4 pl-10 text-sm placeholder:text-sm outline-none placeholder:text-gray-500/60 focus:border-primary focus:ring-1 focus:ring-primary focus:text-primary focus:placeholder:text-primary font-semibold placeholder:font-normal rounded-md"
              type="text"
              placeholder="Nombre"
            />

            <span
              class="absolute top-1/2 -translate-y-1/2 left-3 text-black peer-focus:text-primary"
            >
              <UserForm width="15" />
            </span>
          </div>

          <div class="relative">
            <input
              class="peer border font-quicksand border-gray-950/50 w-full py-2 px-4 pl-10 text-sm placeholder:text-sm outline-none placeholder:text-gray-500/60 focus:border-primary focus:ring-1 focus:ring-primary focus:text-primary focus:placeholder:text-primary font-semibold placeholder:font-normal rounded-md"
              type="text"
              placeholder="Ingresa tu email"
            />

            <span
              class="absolute top-1/2 -translate-y-1/2 left-3 text-black peer-focus:text-primary"
            >
              <MailForm width="15" />
            </span>
          </div>

          <div class="relative">
            <input
              class="peer border font-quicksand border-gray-950/50 w-full py-2 px-4 pl-10 text-sm placeholder:text-sm outline-none placeholder:text-gray-500/60 focus:border-primary focus:ring-1 focus:ring-primary focus:text-primary focus:placeholder:text-primary font-semibold placeholder:font-normal rounded-md"
              type="text"
              placeholder="Teléfono"
            />

            <span
              class="absolute top-1/2 -translate-y-1/2 left-3 text-black peer-focus:text-primary"
            >
              <PhoneForm width="20" />
            </span>
          </div>

          <div class="relative">
            <textarea
              class="peer border font-quicksand border-gray-950/50 w-full py-2 px-4 pl-10 text-sm placeholder:text-sm outline-none placeholder:text-gray-500/60 resize-none focus:border-primary focus:ring-1 focus:ring-primary focus:text-primary focus:placeholder:text-primary font-semibold placeholder:font-normal rounded-md"
              rows="5"
              placeholder="Ingresa tu mensaje"></textarea>

            <span
              class="absolute top-3 left-3 text-black peer-focus:text-primary"
            >
              <MessageForm width="15" />
            </span>
          </div>

          <div>
            <button
              type="submit"
              class="flex justify-center font-quicksand items-center gap-4 bg-primary hover:bg-primary-hover text-white w-full py-3 font-semibold rounded-4xl cursor-pointer shadow-lg outline-none"
              ><SendIcon width="20" />Enviar mensaje</button
            >
          </div>
        </form>
      </div>

      <div class="self-center 2xl:pl-20">
        <div class="flex justify-center lg:justify-start">
          <span
            class="font-normal text-primary font-quicksand text-base bg-white py-2 px-4 rounded-lg"
          >
            ¡Contáctanos ahora!
          </span>
        </div>

        <p class="mt-6 text-2xl font-light font-quicksand text-center lg:text-left">¿Tienes preguntas?</p>

        <h2 class="mt-3 font-semibold font-poppins text-primary text-3xl text-center lg:text-left">
          ¡Estamos listos para ayudarte!
        </h2>

        <div class="mt-10 flex flex-col gap-8 lg:gap-12">
          <div class="flex flex-col gap-3 lg:flex-row lg:gap-6">
            <div class="flex justify-center items-center">
              <a
                class="text-primary hover:text-black"
                href="https://wa.me/51981219261"
                target="_blank"><PhoneIcon width="35" /></a
              >
            </div>

            <div class="text-center lg:text-left">
              <p class="font-light font-quicksand">Contáctanos al</p>
              <p class="font-semibold font-quicksand">+51 981 219 261</p>
            </div>
          </div>

          <div class="flex flex-col gap-3 lg:flex-row lg:gap-6">
            <div class="flex justify-center items-center">
              <a
                class="text-primary hover:text-black"
                href="contacto@felev.net"
                target="_blank"><MailIcon width="35" /></a
              >
            </div>

            <div class="text-center lg:text-left">
              <p class="font-light font-quicksand">Escríbenos a</p>
              <p class="font-semibold font-quicksand">contacto@felev.net</p>
            </div>
          </div>

          <div class="flex flex-col gap-3 lg:flex-row lg:gap-6">
            <div class="flex justify-center items-center">
              <a
                class="text-primary hover:text-black"
                href="https://www.facebook.com/felev.agencia"
                target="_blank"><WatchIcon width="35" /></a
              >
            </div>

            <div class="text-center lg:text-left">
              <p class="font-light font-quicksand">Horario de atención</p>
              <p class="font-semibold font-quicksand">Lunes a Sábado, 9 AM a 8 PM</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Container>
</section>
